.premium {
  &__slider {
    height: 100%; //временно
  }
  &__inner {
    display: flex;
    padding: 17px 20px 14px;
    background: url("../../images/premium/bg.png");
    border-radius: 4px;
    height: 100%; //временно
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  &__text {
    font-size: 18px;
    line-height: 130%;
    margin-top: 33px;
  }
  &__icon {
    max-width: none;
  }
  &__result {
    max-width: 265px;
    width: 100%;
  }
  &__bold {
    padding: 2px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.86);
  }
}
