.program {
  .premium__bold {
    &_orange {
      color: $white;
      background-color: $orange;
    }
  }
  &__heading {
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__title {
    font-size: 32px;
    line-height: 38px;
  }
  &__test {
    margin-top: 24px;
  }
  .test-program {
    background-color: $bg--color;
    border: 1px solid $orange;
    box-shadow: 0px 0px 7px $orange--shadow;
    border-radius: 4px;
    padding: 21px 28px 15px 19px;
    &__heading {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
    }
    &__current {
      margin-top: 32px;
    }
    .current-program {
      & span {
        display: block;
      }
      &__text {
        font-size: 14px;
        line-height: 17px;
        color: $grey--20;
      }
      &__title {
        margin-top: 4px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $turquoise;
      }
    }
    &__variant {
      display: flex;
      justify-content: space-between;
      margin-top: 19px;
      a {
        display: block;
      }
    }
  }
  .test-program_variant1 {
    border-radius: 9px;
    padding: 0;
    position: relative;
    z-index: 99999;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 86px;
      height: 230px;
      background: url("../../images/program/bg1.png") no-repeat;
      width: 86px;
      height: 230px;
      right: 16px;
      top: 61px;
    }
    .test-program {
      &__heading {
        background-color: $grey;
        padding: 16px 25px 14px 21px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
      }
      &__variant {
        padding-bottom: 14px;
        padding-left: 21px;
        margin-top: 13px;
      }
    }
    .current-program {
      margin-top: 7px;
      padding: 0 21px;
      &__title {
        margin-top: 7px;
        width: 60%;
      }
      &__text {
        font-weight: bold;
      }
    }
  }
  .program__inner_variant2 {
    position: relative;
    z-index: 99999;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 86px;
      height: 230px;
      background: url("../../images/program/bg2.png") no-repeat;
      width: 86px;
      height: 230px;
      left: 15px;
      top: 61px;
      z-index: -1;
    }
    .program {
      &__title {
        font-size: 24px;
        line-height: 29px;
      }
    }
    .test-program_variant2 {
    }
  }
}
