.program {
  .premium__bold {
    &_orange {
      color: $white;
      background-color: $orange;
    }
  }
  &__heading {
    position: relative;
    z-index: 99;
    min-height: 86px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__title {
    font-size: 32px;
    line-height: 38px;
  }
  &__test {
    margin-top: 38px;
  }
  .test-program {
    background-color: $white;
    border: 1px solid $orange;
    box-shadow: 0px 0px 7px $orange--shadow;
    border-radius: 4px;
    padding: 21px 28px 15px 19px;
    &__heading {
      position: relative;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
    }
    &__current {
      margin-top: 32px;
    }
    .button{
      text-align: center;
    }
    .current-program {
      & span {
        display: block;
      }
      &__text {
        font-size: 14px;
        line-height: 17px;
        color: $grey--20;
      }
      &__title {
        margin-top: 4px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $turquoise;
      }
    }
    &__variant {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, auto));
      justify-content: center;
      column-gap: 10px;
      row-gap: 14.5px;
      margin-top: 30px;
    }
  }
  &__inner {
    background-color: $bg--color;
    &_variant1 {
      position: relative;
    }
  }
  .test-program_variant1 {
    border-radius: 9px;
    padding: 0;
    position: relative;
    // z-index: 99999;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 86px;
      height: 163px;
      background: url("../../images/program/bg1.png") no-repeat;
      width: 86px;
      right: 16px;
      bottom: 0;
      z-index: 3;
    }
    .test-program {
      &__heading {
        position: relative;
        z-index: 0;
        background-color: $grey;
        padding: 16px 25px 14px 21px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
      }
      &__variant {
        position: relative;
        z-index: 5;
        padding-bottom: 14px;
        padding-left: 21px;
        margin-top: 13px;
        margin-right: 100px;
        width: 220px;
      }
    }
    .current-program {
      margin-top: 7px;
      padding: 0 21px;
      &__title {
        margin-top: 7px;
        width: 60%;
      }
      &__text {
        font-weight: bold;
      }
    }
  }
  .program__inner_variant2 {
    .program {
      &__title {
        font-size: 24px;
        line-height: 29px;
      }
      &__heading {
        margin-left: 94px;
      }
    }
    .test-program_variant2 {
      position: relative;
      z-index: 99999;
      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 86px;
        height: 90px;
        top: -91px;
        left: 15px;
        z-index: -1;
        background: url("../../images/program/bg2.png") no-repeat;
      }
    }
  }
}
