@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/normalize';
@import 'base/typography';
@import 'base/settings';

@import 'components/buttons';
@import 'components/timer';
@import 'components/friday';
@import 'components/scroll';
@import 'components/popup';
@import 'components/menu';
@import 'components/slider';
@import 'components/notification-menu';
@import 'components/user-menu';

@import 'layout/header';
@import 'layout/content';
@import 'layout/program';
@import 'layout/continue';
@import 'layout/premium';
@import 'layout/personal';
@import 'layout/course';
@import 'layout/footer';

@import 'pages/home';
@import 'base/media';