// BUTTON STYLES
.button {
  color: $white;
  display: block;
  border-radius: 3px;
  padding: 12px 52px;
  font-weight: bold;
  transition: 0.2s background-color;
  &_turquoise {
    background-color: $turquoise;
    &:hover {
      background-color: $hover--turquoise;
    }
    &:active {
      background-color: $active--turquoise;
    }
  }
  &_orange {
    background-color: $orange;
    &:hover {
      background-color: $hover--orange;
    }
    &:active {
      background-color: $active--orange;
    }
  }
  &_white {
    background-color: $white;
    border: 1.5px solid $turquoise;
    color: $turquoise;
    &:hover {
      color: $hover--white;
      border: 1.5px solid $hover--white;
    }
    &:active {
      background-color: $active--white;
      border: 1.5px solid $active--white;
      color: $white;
    }
    &:focus {
      border: 1.5px solid $active--white;
    }
  }
  &__link {
    display: block;
  }
}

.filter__button {
  padding: 11px 34px;
  border-radius: 35px;
  color: $turquoise;
  background-color: $white;
  &_active {
    color: $white;
    background-color: $turquoise;
  }
}
.course__link {
  border: 1px solid $turquoise;
  border-radius: 3px;
  transition: 0.2s background-color;
  &_start {
    padding: 12px 52.5px;
    color: $turquoise;
    background-color: $white;
    border: 1.5px solid $turquoise;
    &:hover {
      border: 1.5px solid $hover--white;
      color: $hover--white;
      background-color: $white;
    }
    &:active {
      border: 1.5px solid $active--white;
      background-color: $white;
    }
    &:focus {
      color: $white;
      border: 1.5px solid $active--white;
      background-color: $active--white;
    }
  }
  &_continue {
    padding: 12px 28px;
    color: $white;
    background-color: $turquoise;
    border: 1.5px solid $turquoise;
    &:hover {
      border: 1.5px solid $hover--turquoise;
      background-color: $hover--turquoise;
    }
    &:active {
      border: 1.5px solid $active--turquoise;
      background-color: $active--turquoise;
    }
    &:focus {
      color: $white;
      border: 1.5px solid $active--turquoise;
      background-color: $active--turquoise;
    }
  }
}

.current__level {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  background: $orange;
  border-radius: 28px;
  width: 139px;
  height: 36px;
  position: absolute;
  top: -7px;
  right: 19px;
}
