.personal {
  .popup {
    z-index: 1;
    &__wrapper {
      position: absolute;
      right: 70px;
      top: -100px;
    }
    display: none;
    padding: 36px 53px;
    background-color: $white;
    color: $grey--20;
    position: relative;
    box-shadow: 0px 0px 11px rgba(148, 183, 197, 0.25);
    border-radius: 4px;
    &__cross {
      position: absolute;
      content: "";
      width: 17px;
      height: 17px;
      top: 11px;
      right: 13px;
      background: url("../../images/personal/cross.png") no-repeat center center;
      cursor: pointer;
      z-index: 999;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
    }
    &__text {
      font-size: 16px;
      line-height: 19px;
      margin-top: 15px;
    }
    &__body {
      margin-top: 27px;
    }
    .form-popup {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      &__wrapper {
        border: 1px solid $popup--color;
        border-radius: 6px;
        width: 238px;
        height: 63px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &.checked {
          border: 2px solid $orange;
        }
      }
      &__wrapper + .form-popup__wrapper {
        margin-top: 15px;
      }
      input[type="radio"] {
        display: none;
      }
      &__icon {
        margin-left: 12px;
      }
      &__label {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-left: 21px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }
      &__wrapper:last-child {
        width: 238px;
        height: 46px;
        .form-popup__button {
          color: $turquoise;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
