/* width */
.personal {
  ::-webkit-scrollbar {
    width: 8px;
    height: 100px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $scroll--color;
    border-radius: 9px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $turquoise;
    border-radius: 9px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
