.user-header {
  // USER MENU
  &__menu {
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
    width: 213px;
    min-height: 350px;
    z-index: 9999;
  }
  .user-menu {
    background-color: $white;
    padding: 17px 33px 17px 15px;
    box-shadow: 0px 4px 7px rgba(148, 183, 197, 0.25);
    border-radius: 0px 0px 4px 4px;
    &__top {
      position: relative;
      &::after {
        position: absolute;
        display: block;
        content: "";
        bottom: -15px;
        width: 200px;
        height: 1px;
        background-color: $line--header--menu;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      font-size: 15px;
      line-height: 18px;
      font-weight: bold;
      &:hover{
        background-color: $grey--00;
      }
      & + .user-menu__item {
        margin-top: 15px;
      }
    }
    &__link {
      color: $grey--20;
      &_premium {
        color: $orange;
      }
    }
    &__bottom {
      margin-top: 30px;
      .user-menu__link {
        margin-left: 15px;
      }
    }
  }
}
