//COLORS

$black: #000;
$turquoise: #00c3bc;
$orange: #ff9900;
$red: #ff2e00;
$grey: #f2f2f2;
$grey--00: #f4f4f4;
$grey--10: #303030;
$grey--20: #3d4e67;
$grey--30: #8b8f94;

$white: #ffffff;
$bg--color: #f9f9f9;
// BOX-SHADOW-COLORS
$orange--shadow: #ffe5be;

//ANOTHER COLORS
$line--color: #bbc6d6;
$line--grey: #dadada;
$line--header--menu: #dadada;
$border--color: #cfcfcf;

//HOVER-ACTIVE COLOR
$hover--turquoise: #00908b;
$active--turquoise: #0de4dd;

$hover--orange: #ffab2d;
$active--orange: #ff8b07;

$hover--white: #10d8d1;
$active--white: #0de4dd;
//SCROLL COLOR
$scroll--color: #e8e5e5;
//POPUP COLOR
$popup--color: #e0e0e0;
//PROGRESS COLOR
$progress-color: #dcebf1;
// MARK
.mark {
  color: $turquoise;
}
