//COLORS

$turquoise: #00c3bc;
$orange: #ff9900;
$red: #ff2e00;
$grey--00: #f4f4f4;
$grey--10: #303030;
$grey--20: #3d4e67;
$white: #ffffff;
$bg--color: #f9f9f9;
// BOX-SHADOW-COLORS
$orange--shadow: #ffe5be;

//ANOTHER COLORS
$line--color: #bbc6d6;
$border--color: #cfcfcf;

//SCROLL COLOR
$scroll-color: #e8e5e5;
//POPUP COLOR
$popup--color: #e0e0e0;
//PROGRESS COLOR
$progress-color: #dcebf1;
// MARK
.mark {
  color: $turquoise;
}
