// 1400px
@media screen and (max-width: 1400px) {
  .program {
    .test-program {
      &__variant {
        grid-template-columns: 220px;
      }
    }
  }
}
// 1380px
@media screen and (max-width: 1380px) {
  .program {
    .test-program {
      .button {
        padding: 12px 27px;
      }
    }
  }
  .courses {
    .filter-courses {
      &__item {
        padding: 11px 23px;
      }
    }
  }
}
@media screen and (min-width: 1201px) and (max-width: 1260px) {
  .header {
    .discount-header {
      max-width: none;
      width: auto;
      &__friday {
        padding: 10px 10px;
      }
      &__crown {
        width: 25px;
      }
      &__link {
        width: 150px;
        margin-left: 10px;
      }
      &__text {
        margin-left: 10px;
        font-size: 11px;
      }
    }
  }
  .courses {
    .filter-courses {
      &__item {
        padding: 11px 14px;
      }
    }
  }
}
// 1200-1380px
@media screen and (max-width: 1200px) {
  ._container {
    max-width: 1200px;
  }
  .header {
    &__nav {
      padding: 0 10px;
    }
    .logo-header {
      &__image {
        &_desktop {
          width: 100px;
        }
      }
    }
    .nav-header {
      &__link {
        font-size: 14px;
      }
    }
    .friday {
      padding: 14px 7px;
    }
    .notification-header {
      padding-left: 5px;
    }
    .discount-header {
      width: auto;
      // justify-content: space-evenly;
      &__link {
        margin-left: 10px;
      }
      &__friday {
        min-width: 136px;
      }
      &__text {
        font-size: 11px;
        margin-left: 4px;
      }
      &__crown {
        width: 15px;
      }
    }
    &__region {
      padding-right: 0;
    }
  }
  .program {
    .test-program {
      .button {
        padding: 12px 27px;
      }
    }
  }
  .courses {
    .filter-courses {
      &__item {
        padding: 11px 13px;
        font-size: 13px;
      }
    }
    &__text {
      min-height: 80px;
    }
  }
}
@media screen and (min-width: 1001px) and (max-width: 1059px) {
  .courses {
    .filter-courses {
      &__item {
        padding: 11px 11px;
        font-size: 12px;
      }
    }
  }
}
@media screen and (min-width: 1001px) and (max-width: 1030px) {
  .header {
    .nav-header {
      &__link {
        font-size: 13px;
      }
    }
  }
}
// 1000-1200px
@media screen and (min-width: 1001px) {
  .header {
    #user-menu {
      right: 12%;
    }
  }
}
@media screen and (max-width: 1000px) {
  ._container {
    max-width: 1000px;
  }
  .header {
    &__inner {
      justify-content: flex-end;
    }
    &__nav {
      display: none;
    }
    &.friday {
      padding: 10px 20.5px;
    }
    .logo-header {
      margin-right: auto;
      &__image {
        &_desktop {
          width: 170px;
        }
      }
    }
    .discount-header {
      max-width: 390px;
      width: auto;
      justify-content: flex-end;
      &__text {
        font-size: 18px;
      }
      &__link {
        margin-left: 10px;
      }
    }
    .profile-header {
      width: auto;
    }
    .region-header {
      display: none;
    }
    #user-menu {
      right: 11px;
    }
  }
  .main {
    &__inner {
      grid-template-areas:
        "continue continue"
        "program premium "
        "courses courses"
        "personal personal";
      grid-template-columns: minmax(345px, 550px) minmax(345px, 550px);
      grid-template-rows: 124px minmax(344px, auto) auto auto;
      column-gap: 28px;
    }
  }
  .program {
    grid-area: program;
    &__inner {
      background-color: $white;
      border: 1px solid $orange;
      box-shadow: 0px 0px 7px $orange--shadow;
      padding: 0 19px 20px 20px;
      border-radius: 4px;
    }
    &__heading {
      align-items: center;
      justify-content: flex-start;
    }
    &__title {
      font-size: 24px;
      line-height: 130%;
    }
    .test-program {
      margin-top: 0;
      padding: 0;
      border: none;
      box-shadow: none;
      &__heading {
        font-size: 16px;
        line-height: 130%;
      }
      &__button {
        padding: 12px 10px;
      }
      .current-program {
        &__text {
          font-size: 16px;
          line-height: 19px;
        }
        &__title {
          font-size: 18px;
          line-height: 22px;
        }
      }
      &__variant {
        flex-direction: column;
        margin: 19px auto 0 auto;
        .test-program {
          &__button + .test-program__button {
            margin-top: 8px;
          }
        }
      }
      &__button {
        text-align: center;
      }
    }
  }
  .continue {
    grid-area: continue;
    display: flex;
    align-items: center;
    &__inner {
      width: 100%;
    }
    &__heading {
      max-width: 640px;
    }
    &__title {
      & br:first-child {
        display: none;
      }
    }
    &__button {
      display: flex;
      align-items: flex-start;
    }
  }
  .premium {
    grid-area: premium;
    height: 100%;
    &__inner {
      position: relative;
    }
    &__image {
      position: absolute;
      right: 0;
      top: 50%;
    }
    &__icon {
      width: 125%;
    }
  }
  .personal {
    grid-area: personal;
    &__line {
      display: none;
    }
    &__inner {
      padding-top: 45px;
      display: grid;
      grid-template-areas:
        "level raiting"
        "plan raiting"
        ". raiting";
      grid-template-columns: minmax(370px, 550px) minmax(370px, 550px);
      grid-template-rows: minmax(190px, auto) 261px auto;
      column-gap: 32px;
    }
    &__level {
      grid-area: level;
      &_undefined {
        display: none;
      }
    }
    .level-personal {
      &__text {
        justify-content: center;
      }
    }
    .popup__wrapper {
      z-index: 1;
      right: 0;
      top: -134px;
    }
    &__plan {
      grid-area: plan;
    }
    &__raiting {
      grid-area: raiting;
    }
    .users-raiting {
      &__current {
        position: relative;
        &::before {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: 0;
          height: 1px;
          top: -16px;
          left: 8px;
          width: calc(100% - 32px);
          background-color: $line--color;
        }
      }
    }
  }
  .courses {
    grid-area: courses;
    &__bottom {
      align-items: center;
    }
    &__filter {
      .filter-courses {
        &__link {
          font-size: 14px;
          line-height: 17px;
          padding: 12px 22px;
        }
      }
    }
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(349px, 1fr));
      row-gap: 45px;
    }
    &__icon {
      width: 34px;
    }
    &__item {
      &_you {
        border: 1px solid $orange;
        box-shadow: 0px 0px 7px $orange--shadow;
      }
    }
    .current__level {
      top: -18px;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
    }
    &__about {
      font-size: 14px;
      min-height: 72px;
    }
    &__bottom {
      flex-direction: column;
    }
    &__progress {
      width: 100%;
    }
    &__bar {
      margin-left: 15px;
      width: 100%;
    }
    &__button {
      margin-top: 10px;
    }
    &__link {
      text-align: center;
    }
  }
}

//COURSE-PAGE
@media screen and (max-width: 1080px) {
  ._container {
    max-width: 1080px;
  }
  .header {
    .notification-menu {
      width: auto;
    }
  }
  .program {
    &__inner {
      overflow: hidden;
      &_variant2 {
        border: none;
        box-shadow: none;
        padding: 0;
        .program__heading {
          height: 90px;
          justify-content: flex-end;
        }
      }
    }
    .test-program {
      &::before {
        display: none;
      }
    }
    .test-program {
      &_variant2 {
        border: 1px solid $orange;
        box-shadow: 0px 0px 7px $orange--shadow;
        padding: 10px 20px 20px 20px;
      }
    }
  }
  .continue {
    &__heading {
      margin-right: 12px;
    }
  }
  .course {
    &__inner {
      padding: 18px 10px 21px 18px;
      flex-direction: column;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
      color: $black--10;
    }
    &__features {
      margin-top: 24px;
    }
    .features-course {
      &__list {
        width: 100%;
      }
      &__item {
        flex-direction: row;
        padding: 0;
        & ~ .features-course__item::before {
          display: none;
        }
        &:first-child,
        &:last-child {
          padding: 0;
        }
      }
      &__text {
        margin-top: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        margin-left: 20px;
        text-align: start;
      }
    }
  }
  .level {
    .premium {
      height: 100% !important;
    }
    &__top {
      padding: 15px;
      flex-direction: column;
      background: $white;
      border: 1px solid $progress-svg;
      box-shadow: 0px 0px 6px $grey--shadow;
      border-radius: 4px;
    }
    &__image {
      width: 37px;
    }
    &__body {
      margin-left: 0;
      .completed_mini {
        display: none;
      }
    }
    &__right {
      width: 100%;
    }
    &__heading {
      align-items: flex-start;
      position: relative;
    }
    &__icon {
      position: absolute;
    }
    &__item.premium {
      .level {
        &__title::after {
          right: -40px;
          top: 9px;
        }
      }
    }
    &__title {
      font-size: 16px;
      line-height: 19px;
      margin-left: 41px;
      height: 39px;
      display: flex;
      align-items: center;
    }
    &__text {
      margin-top: 8px;
      font-size: 14px;
      line-height: 17px;
    }
    .content-level {
      &__item::after {
        width: 20px;
        height: 24px;
        left: 15px;
        font-size: 16px;
        line-height: 19px;
      }
      ol li {
        align-items: stretch;
      }
      &__item {
        padding: 0;
        flex-direction: column;
        padding: 11px 15px;
        &.test::before,
        &.exam::before {
          left: auto;
          top: 11px;
          right: 15px;
        }
      }
      &__text {
        margin-left: 0;
        padding-left: 43px;
      }
      &__lesson {
        font-size: 14px;
        line-height: 17px;
        position: relative;
        &::after {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          right: 52px;
          width: 21px;
          height: 17.2px;
          background: url("../../images/level/crown.png");
          display: none;
        }
      }
      &__title {
        font-size: 16px;
        line-height: 19px;
      }
      &__wrapper {
        min-width: 0;
        display: block;
        margin-left: 0;
      }
      &__progress {
        margin-left: 0;
        flex-direction: column;
        margin-top: 19px;
      }
      &__score {
        display: none;
      }
      &__button {
        margin: 15px auto 0 auto;
      }
      .progress-content {
        width: 100%;
        margin-left: 0;
        &__bar {
          width: 100%;
        }
        &__count {
          width: auto;
        }
      }
    }
    &__right {
      margin-top: 10px;
      max-width: none;
    }
    .progress-level {
      max-width: 442px;
      &__count {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
    }
    .popup-level {
      margin-top: 16px;
      &__text {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
      &__arrow {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: url("../../images/level/arrow-mobile.png") no-repeat center
          center;
        background-color: $grey--20;
      }
    }
  }
}
@media screen and (min-width: 1001px) and (max-width: 1440px) {
  .header {
    &__nav {
      padding: 0 10px;
    }
    .discount-header {
      &__text {
      }
    }
  }
}
@media screen and (min-width: 1001px) and (max-width: 1070px) {
}
@media screen and (max-width: 950px) {
  .courses {
    &__filter {
      .filter-courses {
        &__link {
          font-size: 14px;
          line-height: 17px;
          padding: 12px 0px;
        }
      }
    }
  }
}
// 800-1000px
@media screen and (max-width: 800px) {
  .personal {
    &__inner {
      column-gap: 18px;
    }
  }
  .courses {
    &__filter {
      .filter-courses {
        &__link {
          font-size: 14px;
          line-height: 17px;
          padding: 12px 0px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .personal {
    .popup {
      &__wrapper {
        right: calc(50% - 182px);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    .logo-header {
      &__image {
        &_mobile {
          display: none;
        }
      }
    }
  }
}
// 768-800PX
@media screen and (max-width: 768px) {
  ._container {
    max-width: 768px;
    padding: 0;
  }
  .header {
    padding: 0 20px;
    .profile-header {
      width: auto;
      &__user {
        display: none;
      }
      .notification-header {
        position: absolute;
        right: 30px;
      }
    }
    &__menu.open {
      span {
        &:nth-child(1) {
          top: calc(50% - 11px);
          left: calc(50% - 10px);
        }
        &:nth-child(3) {
          top: calc(50% + 8px);
          left: calc(50% - 10px);
        }
      }
    }
    .discount-header {
      max-width: none;
      margin-right: 27px;
      &__text {
        font-size: 18px;
      }
      &__link {
        margin-left: 9px;
      }
    }
    &__menu {
      display: block;
      width: 27px;
      height: 18px;
      margin-left: 8px;
      span {
        height: 2px;
        &:nth-child(2) {
          top: calc(50% - 1px);
        }
      }
    }
  }
  .program {
    padding-left: 20px;
  }
  .continue {
    &__heading {
      max-width: 450px;
    }
    &__title {
      & br:first-child {
        display: block;
      }
    }
  }
  .premium {
    padding-right: 20px;
  }
  .personal {
    grid-area: personal;
    &__inner {
      padding-top: 45px;
      display: grid;
      grid-template-areas:
        "level raiting"
        "plan raiting"
        ". raiting";
      grid-template-columns: 345px 345px;
      grid-template-rows: 190px 261px auto;
      column-gap: 32px;
    }
    &__level {
      grid-area: level;
    }
    &__plan {
      grid-area: plan;
    }
    &__raiting {
      grid-area: raiting;
    }
  }
  .courses {
    &__filter {
      .filter-courses__list {
        display: flex;
      }
    }
    #courses__select {
      display: none;
    }
  }
}
// 0-767px
@media screen and (max-width: 767px) {
  ._container {
    max-width: 767px;
    padding: 0 15px;
  }
  .header {
    padding: 0 0;
    &__inner {
      height: 62px;
    }
    .logo-header {
      &__image {
        &_desktop {
          display: none;
        }
        &_mobile {
          display: block;
        }
      }
    }
    .timer-header {
      .timer {
        padding: 3px;
        font-size: 12px;
        &__separate {
          margin: 0 4px;
          font-size: 12px;
          line-height: 127.5%;
        }
      }
    }
    .discount-header {
      margin-right: 41px;
      &__friday {
      }
      &__crown {
        width: 21px;
      }
      &__text {
        font-size: 16px;
        line-height: 12px;
      }
    }
    .profile-header {
      .notification-header {
        right: 59px;
        &__body {
        }
        &__bell {
          width: 25px;
        }
        &__count {
          font-size: 9px;
          line-height: 12px;
          width: 14px;
          height: 14px;
          top: -6px;
          left: 17px;
        }
      }
    }
    #user-menu {
      top: 100%;
      right: 15px;
    }
  }
  .main {
    padding-top: 36px;
    &__inner {
      grid-template-areas:
        "program"
        "premium "
        "courses"
        "personal";
      grid-template-columns: minmax(290px, 767px);
      grid-template-rows: auto auto;
      column-gap: 28px;
    }
  }
  .program {
    padding-left: 0;
    .test-program {
      &__heading {
        font-size: 13px;
      }
      .current-program {
        &__title {
          margin-top: 0;
          font-size: 15px;
          line-height: 19px;
        }
      }
    }
  }
  .continue {
    display: none;
  }
  .premium {
    padding-right: 0;
    height: 200px;
    &__inner {
      padding: 17px 15px 47px 15px;
      overflow: hidden;
    }
    &__title {
      font-size: 16px;
      line-height: 19px;
    }
    &__text {
      margin-top: 14px;
      font-size: 14px;
      line-height: 130%;
      max-width: 200px;
    }
    &__image {
      right: -16px;
      top: 29%;
    }
    &__icon {
      width: 76px;
    }
  }
  .personal {
    &__inner {
      padding: 0 10px;
    }
    &__line {
      display: none;
    }
    &__inner {
      grid-template-areas:
        "level"
        "plan"
        "raiting";
      grid-template-columns: auto;
      grid-template-rows: auto;
      column-gap: 32px;
      padding-top: 0;
    }
    &__line {
      width: 100%;
    }
    .level-personal {
      &__title {
        font-size: 18px;
        line-height: 22px;
      }
      &__current {
        font-size: 14px;
        margin-left: 20px;
      }
    }
    .plan-personal {
      margin: 20px 0;
      padding: 10px 59px;
      &::before {
        width: 126px;
      }
      border-bottom: 1px solid $line--color;
      border-top: 1px solid $line--color;
    }
    .popup {
      width: 290px;
      padding: 36px 26px;
      &__wrapper {
        right: calc(50% - 145px);
        top: calc(50% - 50px);
      }
    }

    .raiting-personal {
      padding: 10px 0 0 0;
      &__title {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  .courses {
    &__heading {
      padding-left: 15px;
    }
    #filter__course {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 17px;
        height: 11px;
        top: 24px;
        right: 26px;
        background: url("../../images/courses/arrow.png") no-repeat center
          center;
      }
    }
    &__filter {
      .filter-courses__list {
        display: none;
      }
    }
    .filter-courses {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 15px;
        height: 9px;
        background: url("../../images/courses/arrow.png") no-repeat center
          center;
        right: 26px;
        top: 24px;
      }
    }
    #courses__select {
      font-size: 16px;
      line-height: 19px;
      display: block;
      width: 100%;
      height: 57px;
      padding: 18px 55px 18px 22px;
      border: none;
      color: $white;
      background-color: $turquoise;
      border-radius: 4px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus {
        outline: none;
      }
      option {
        color: $grey--20;
        background-color: $white;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
    }
    padding: 0;
    &__filter {
      .filter-courses {
        &__list {
          flex-direction: column;
        }
        &__link {
          padding: 0;
          display: flex;
          align-items: center;
          height: 57px;
          border-radius: 4px;
          padding: 16px 21px;
        }
      }
    }
    // &__headline {
    //   display: none;
    // }
    .courses-special {
      .courses__headline {
        font-size: 23px;
      }
    }
    &__list {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
    .current__level {
      display: none;
    }
    &__item {
      &_you {
        border: none;
        box-shadow: 0px 0px 7px rgba(148, 183, 197, 0.25);
      }
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 768px){
  .course{
    .features-course{
      &__item{
        padding: 0 10px!important;
      }
      &__text{
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .course {
    .features-course {
      &__list {
        flex-direction: column;
      }
      &__item {
        flex-direction: row;
        padding: 0;
        & + .features-course__item {
          margin-top: 20px;
        }
        & ~ .features-course__item::before {
          width: 71px;
          height: 1px;
          top: -8px;
        }
      }
    }
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .header {
    .discount-header {
      &__text {
        width: 170px;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .header {
    .discount-header {
      &__text {
        font-size: 12px;
      }
    }
    .friday {
      padding: 10px 5px;
    }
    .profile-header {
      .notification-header {
        right: 50px;
      }
    }
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  .header {
    .discount-header {
      margin-right: 50px;
    }
    &__menu {
      &.open {
        span:nth-last-child(1) {
          top: calc(50% + 8px);
          left: calc(50% - 10px);
        }
        span:nth-last-child(3) {
          top: calc(50% - 11px);
          left: calc(50% - 10px);
        }
      }
    }
    .notification-header {
      &__count {
        top: -7px;
        left: 19px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .header {
    &__inner {
      justify-content: space-between;
    }
    .discount-header {
      margin-right: 30px;
    }
    .profile-header {
      .notification-header {
        right: 47px;
        &__body {
          width: 32px;
          height: 32px;
        }
        &__bell {
          width: 25px;
        }
      }
    }
  }
}
@media screen and (min-width: 351px) and (max-width: 459px) {
  .header {
    .friday {
      font-size: 17px;
    }
    .discount-header {
      &__friday {
        min-width: 115px;
      }
      &__crown {
        width: 13px;
      }
      &__text {
        font-size: 10px;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .header {
    .discount-header {
      margin-right: 30px;
      &__friday {
        min-width: 0;
      }
      &__text {
        font-size: 9px;
      }
      &__crown {
        width: 13px;
      }
    }
    .profile-header {
      .notification-header {
        right: 53px;
        &__body {
          width: 25px;
          height: 25px;
        }
        &__bell {
          width: 20px;
        }
      }
    }
    .timer-header {
      .timer__separate {
        margin: 0 2px;
      }
    }
  }
  .level {
    &__heading {
      margin-top: 30px;
    }
    &__item {
      &.premium {
        .level__title {
          &::after {
            top: -31px;
            left: -36px;
          }
        }
      }
    }
    .content-level {
      &__item::after {
      }
      &__item {
        &.test::before,
        &.exam::before {
          width: 21.4px;
          height: 22px;
        }
      }
    }
  }
}
