// 1380px
@media screen and (max-width: 1380px) {
  .program {
    .test-program {
      .button {
        padding: 12px 27px;
      }
    }
  }
  .courses {
    .filter-courses {
      &__item {
        padding: 11px 23px;
      }
    }
  }
}
// 1200-1380px
@media screen and (max-width: 1200px) {
  ._container {
    max-width: 1200px;
  }
  .header {
    &__nav {
      padding: 0 10px;
    }
    .nav-header {
      &__link {
        font-size: 14px;
      }
    }
    .friday {
      padding: 8px 19px;
    }
    .notification-header {
      padding-left: 5px;
    }
    .discount-header {
      &__text {
        margin-left: 8px;
        font-size: 13px;
      }
      &__crown {
        width: 32px;
      }
    }
  }
  .program {
    .test-program {
      .button {
        padding: 12px 27px;
      }
    }
  }
  .courses {
    .filter-courses {
      &__item {
        padding: 11px 13px;
        font-size: 13px;
      }
    }
  }
}
// 1000-1200px
@media screen and (max-width: 1000px) {
  ._container {
    max-width: 1000px;
  }
  .header {
    &__nav {
      display: none;
    }
    .profile-header {
      width: auto;
    }
    .region-header {
      display: none;
    }
  }
  .main {
    &__inner {
      grid-template-areas:
        "continue continue"
        "program premium "
        "courses courses"
        "personal personal";
      grid-template-columns: minmax(370px, 550px) minmax(370px, 550px);
      grid-template-rows: 124px 344px auto auto;
      column-gap: 28px;
    }
  }
  .program {
    grid-area: program;
    &__inner {
      border: 1px solid $orange;
      box-shadow: 0px 0px 7px $orange--shadow;
      padding: 0 19px 20px 20px;
      border-radius: 4px;
    }
    &__heading {
      align-items: center;
      justify-content: flex-start;
    }
    &__title {
      font-size: 24px;
      line-height: 130%;
    }
    .test-program {
      margin-top: 0;
      padding: 0;
      border: none;
      box-shadow: none;
      &__heading {
        font-size: 16px;
        line-height: 130%;
      }
      &__button {
        padding: 12px 10px;
      }
      .current-program {
        &__text {
          font-size: 16px;
          line-height: 19px;
        }
        &__title {
          font-size: 18px;
          line-height: 22px;
        }
      }
      &__variant {
        flex-direction: column;
        margin: 19px auto 0 auto;
        .test-program {
          &__button + .test-program__button {
            margin-top: 8px;
          }
        }
      }
      &__button {
        text-align: center;
      }
    }
  }
  .continue {
    grid-area: continue;
    display: flex;
    align-items: center;
    &__inner {
      width: 100%;
    }
    &__heading {
      max-width: 640px;
    }
    &__title {
      & br:first-child {
        display: none;
      }
    }
    &__button {
      display: flex;
      align-items: flex-end;
    }
  }
  .premium {
    grid-area: premium;
    height: 100%;
    &__inner {
      position: relative;
    }
    &__image {
      position: absolute;
      right: 0;
      top: 50%;
    }
    &__icon {
      width: 125%;
    }
  }
  .personal {
    grid-area: personal;
    &__line {
      display: none;
    }
    &__inner {
      padding-top: 45px;
      display: grid;
      grid-template-areas:
        "level raiting"
        "plan raiting"
        ". raiting";
      grid-template-columns: minmax(370px, 550px) minmax(370px, 550px);
      grid-template-rows: minmax(190px, auto) 261px auto;
      column-gap: 32px;
    }
    &__level {
      grid-area: level;
      &_undefined {
        display: none;
      }
    }
    .level-personal {
      &__text {
        justify-content: center;
      }
    }
    .popup__wrapper {
      right: 0;
      top: -134px;
    }
    &__plan {
      grid-area: plan;
    }
    &__raiting {
      grid-area: raiting;
    }
    .users-raiting {
      &__current {
        position: relative;
        &::before {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: 0;
          height: 1px;
          top: -16px;
          left: 8px;
          width: calc(100% - 32px);
          background-color: $line--color;
        }
      }
    }
  }
  .courses {
    grid-area: courses;
    &__filter {
      .filter-courses {
        &__link {
          font-size: 14px;
          line-height: 17px;
          padding: 12px 22px;
        }
      }
    }
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(349px, 1fr));
      row-gap: 45px;
    }
    &__icon {
      width: 34px;
    }
    &__item {
      &_you {
        border: 1px solid $orange;
        box-shadow: 0px 0px 7px $orange--shadow;
      }
    }
    .current__level {
      top: -18px;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
    }
    &__about {
      font-size: 14px;
      min-height: 72px;
    }
    &__bottom {
      flex-direction: column;
    }
    &__progress {
      width: 100%;
    }
    &__bar {
      margin-left: 15px;
      width: 100%;
    }
    &__button {
      margin-top: 10px;
    }
    &__link {
      text-align: center;
    }
  }
}
@media screen and (max-width: 950px) {
  .courses {
    &__filter {
      .filter-courses {
        &__link {
          font-size: 14px;
          line-height: 17px;
          padding: 12px 0px;
        }
      }
    }
  }
}
// 800-1000px
@media screen and (max-width: 800px) {
  .personal {
    &__inner {
      column-gap: 18px;
    }
  }
  .courses {
    &__filter {
      .filter-courses {
        &__link {
          font-size: 14px;
          line-height: 17px;
          padding: 12px 0px;
        }
      }
    }
  }
}
// 768-800PX
@media screen and (max-width: 768px) {
  ._container {
    max-width: 768px;
    padding: 0;
  }
  .header {
    .profile-header {
      width: auto;
      &__user {
        display: none;
      }
    }
    &__menu {
      display: block;
    }
  }
  .continue {
    &__heading {
      max-width: 450px;
    }
    &__title {
      & br:first-child {
        display: block;
      }
    }
  }
  .personal {
    grid-area: personal;
    &__inner {
      padding-top: 45px;
      display: grid;
      grid-template-areas:
        "level raiting"
        "plan raiting"
        ". raiting";
      grid-template-columns: 345px 345px;
      grid-template-rows: 190px 261px auto;
      column-gap: 32px;
    }
    &__level {
      grid-area: level;
    }
    &__plan {
      grid-area: plan;
    }
    &__raiting {
      grid-area: raiting;
    }
  }
  .courses {
    &__filter {
      .filter-courses__list {
        display: flex;
      }
    }
    #courses__select {
      display: none;
    }
  }
}
// 0-767px
@media screen and (max-width: 767px) {
  ._container {
    max-width: 767px;
    padding: 0 15px;
  }
  .header {
    &__inner {
      height: 62px;
    }
    .logo-header {
      &__image {
        background: url("../../images/header/mobile-logo.png") no-repeat center
          center;
        width: 30px;
        height: 30px;
      }
    }
    .timer-header {
      .timer {
        padding: 3px;
        font-size: 12px;
        &__separate {
          margin: 0 4px;
          font-size: 12px;
          line-height: 127.5%;
        }
      }
    }
    .discount-header {
      max-width: 185px;
      &__friday {
        padding: 9px 3px;
      }
      &__crown {
        width: 12px;
      }
      &__text {
        font-size: 9px;
        line-height: 12px;
        margin-left: 5px;
      }
    }
    .profile-header {
      .notification-header {
        width: 25px;
        height: 25px;
        &__body {
          width: 25px;
          height: 25px;
        }
        &__bell {
          width: 18px;
        }
        &__count {
          font-size: 9px;
          line-height: 12px;
          width: 14px;
          height: 14px;
          top: -6px;
          left: 17px;
        }
      }
    }
    &__menu {
      width: 19px;
      height: 18px;
      margin-left: 8px;
      span {
        height: 2px;
        &:nth-child(2) {
          top: calc(50% - 1px);
        }
      }
      &.open span:nth-last-child(1) {
        top: calc(50% - -7px);
        left: calc(50% - 6px);
      }
      &.open span:nth-last-child(3) {
        top: calc(50% - 7px);
        left: calc(50% - 6px);
      }
    }
  }
  .main {
    padding-top: 36px;
    &__inner {
      grid-template-areas:
        "program"
        "premium "
        "courses"
        "personal";
      grid-template-columns: minmax(290px, 767px);
      grid-template-rows: auto auto;
      column-gap: 28px;
    }
  }
  .program {
    .test-program {
      &__heading {
        font-size: 13px;
      }
      .current-program {
        &__title {
          margin-top: 0;
          font-size: 15px;
          line-height: 19px;
        }
      }
    }
  }
  .continue {
    display: none;
  }
  .premium {
    height: 200px;
    &__inner {
      padding: 17px 15px 47px 15px;
      overflow: hidden;
    }
    &__title {
      font-size: 16px;
      line-height: 19px;
    }
    &__text {
      margin-top: 14px;
      font-size: 14px;
      line-height: 130%;
      max-width: 200px;
    }
    &__image {
      right: -16px;
      top: 29%;
    }
    &__icon {
      width: 76px;
    }
  }
  .personal {
    &__inner {
      padding: 0 10px;
    }
    &__line {
      display: none;
    }
    &__inner {
      grid-template-areas:
        "level"
        "plan"
        "raiting";
      grid-template-columns: auto;
      grid-template-rows: auto;
      column-gap: 32px;
      padding-top: 0;
    }
    &__line {
      width: 100%;
    }
    .level-personal {
      &__title {
        font-size: 18px;
        line-height: 22px;
      }
      &__current {
        font-size: 14px;
        margin-left: 20px;
      }
    }
    .plan-personal {
      margin: 20px 0;
      padding: 10px 59px;
      &::before {
        width: 126px;
      }
      border-bottom: 1px solid $line--color;
      border-top: 1px solid $line--color;
    }
    .popup {
      padding: 36px 26px;
      &__wrapper {
        right: -60px;
        top: calc(50% - 50px);
      }
    }

    .raiting-personal {
      padding: 10px 0 0 0;
      &__title {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  .courses {
    &__wrapper {
      margin-top: 0;
    }
    &__filter {
      .filter-courses__list {
        display: none;
      }
    }
    .filter-courses {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 15px;
        height: 9px;
        background: url("../../images/courses/arrow.png") no-repeat center
          center;
        right: 26px;
        top: 24px;
      }
    }
    #courses__select {
      font-size: 16px;
      line-height: 19px;
      display: block;
      width: 100%;
      height: 57px;
      padding: 18px 55px 18px 22px;
      border: none;
      color: $white;
      background-color: $turquoise;
      border-radius: 4px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus {
        outline: none;
      }
      option {
        color: $grey--20;
        background-color: $white;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
    }
    padding: 0;
    &__filter {
      .filter-courses {
        &__list {
          flex-direction: column;
        }
        &__link {
          padding: 0;
          display: flex;
          align-items: center;
          height: 57px;
          border-radius: 4px;
          padding: 16px 21px;
        }
      }
    }
    &__headline {
      display: none;
    }
    &__list {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
    .current__level {
      display: none;
    }
    &__item {
      &_you {
        border: none;
        box-shadow: 0px 0px 7px rgba(148, 183, 197, 0.25);
      }
    }
  }
}

//COURSE-PAGE

@media screen and (max-width: 320px) {
  .header {
    .notification-menu {
      width: auto;
    }
  }
  ._container {
    max-width: 320px;
  }
  .course {
    &__inner {
      padding: 18px 10px 21px 18px;
      flex-direction: column;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
      color: $black--10;
    }
    &__features {
      margin-top: 24px;
    }
    .features-course {
      &__list {
        flex-direction: column;
        width: 100%;
      }
      &__item {
        flex-direction: row;
        padding: 0;
        & + .features-course__item {
          margin-top: 20px;
        }
        & ~ .features-course__item::before {
          width: 71px;
          height: 1px;
          top: -8px;
        }
        &:first-child,
        &:last-child {
          padding: 0;
        }
      }
      &__text {
        margin-top: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        margin-left: 20px;
        text-align: start;
      }
    }
  }
  .level {
    &__top {
      padding: 15px;
      flex-direction: column;
    }
    &__image {
      width: 37px;
    }
    &__body {
      margin-left: 0;
      .completed_mini {
        display: none;
      }
    }
    &__heading {
      align-items: flex-start;
      position: relative;
    }
    &__icon {
      position: absolute;
    }
    &__title {
      font-size: 16px;
      line-height: 19px;
      margin-left: 41px;
      height: 39px;
    }
    &__text {
      margin-top: 8px;
      font-size: 14px;
      line-height: 17px;
    }
    .content-level {
      &__item::after {
        // display: none;
        width: 20px;
        height: 24px;
      }
      &__item {
        padding: 0;
        flex-direction: column;
        padding: 11px 15px;
      }
      &__text {
        margin-left: 0;
      }
      &__progress {
        margin-left: 0;
        flex-direction: column;
        margin-top: 19px;
      }
      &__score {
        display: none;
      }
      &__button {
        margin: 15px auto 0 auto;
      }
      .progress-content{
        width: 100%;
        margin-left: 0;
        &__bar{
          width: 100%;
        }
      }
    }
    &__right {
      margin-top: 10px;
    }
    .progress-level {
      &__count {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
    }
    .popup-level {
      margin-top: 16px;
      &__text {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
      &__arrow {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: url("../../images/level/arrow-mobile.png") no-repeat center
          center;
        background-color: $grey--20;
      }
    }
  }
}
