.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
._container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: $grey--20;
}
